<% include partials/header %>

<div class="box">
	<h3>Want to Add a Question to the Form</h3>
	<br>
	<button type="button" onclick="location.href='/form/newquestion/<%= formId %>'">Add Question</button>
	<button type="button" onclick="location.href='/form'">Create Form</button>
</div>

<% include partials/footer %>