<% include partials/header %>

<div class="container">
	<h2>Login Page!</h2>
	<form action="/home" method="POST">
		<input type="text" name="username" placeholder="Username" class="form-control">
		<br>
		<input type="password" name="password" placeholder="Password" class="form-control">
		<button class="btn btn-lg btn-default form-control">Submit</button>
	</form>
</div>

<% include partials/footer %>