<% include partials/header %>

<div class="box">
	<h1>Entertainment Point!</h1>
	<br> 
	<div class="container">
		<h4>Sign Up</h4>
		<br>
		<form method="POST" action="/register">
			<input type="text" name="username" placeholder="Username" class="form-group" id="login" required>
			<br>
			<input type="password" name="password" placeholder="Password" class="form-group" id="login" required>
			<br>
			<input type="password" name="cpassword" placeholder="Confirm Password" class="form-group" id="login" required>
			<br>
			<button id="login">Sign Up</button>
		</form>
	</div>
</div>

<% include partials/footer %>